<ul>
    <% creatureData.forEach( (creature, index) => { %>
      <li>
        <%= creature.type %> looks like<br> <img src="<%= creature.img_url %>" alt="<%= creature.type %>" width="700">
        <a href="/prehistoric_creatures/edit/<%= index %>">Edit creature</a>
        <form method="POST" action="/prehistoric_creatures/<%= index %>/?_method=DELETE">
          <input type="submit" value="Delete">
      </li>
    <% }) %>
  </ul>