<h1>List of Prehistoric Creatures</h1>
<ul>
    <% creaturesData.forEach((creature, index) => { %>

        <li class="animalList"> 
            Type: <%=creature.type %> 
            <br>
            <a href="<%= creature.img_url %>">Creature Image</a>
            <br>
            <a href="/prehistoric_creatures/edit/<%= index %>">Edit Creature</a>
           
            <!-- <form method="POST" action="/prehistoric_creatures/<%= index %>/?_method=DELETE"> -->
            <form method="POST" action="/prehistoric_creatures/<%= index %>/?_method=DELETE">
                <input type="submit" value="delete">
            </form>
            
        </li>

    <% }) %>
</ul>



