<form method="POST" action="/dinos/<%= dinoId %>/?_method=PUT">
  <h3 class="pt-4 pb-2 text-capitalize d-inline-block"><%= dino.name %></h3> is a <h3 class="text-capitalize d-inline-block"><%= dino.type %></h3><br>
  <label for="name">Name</label>
  <input class="text-capitalize" type="text" value="<%= dino.name %>" name="name">

  <label>Type</label>
  <input class="text-capitalize" type="text" value="<%= dino.type %>" name="type">

  <input class="btn btn-dark" type="submit">
</form>